{% extends 'core/base.html' %}

{% block content %}

<h1 class="mb-4 text-center">About The Website</h1>

<div class="card mb-4">
  <div class="card-body text-center">
    <h3 class="card-title text-center">What is the purpose?</h3>
    <p class="card-text">
      ###.
    </p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title text-center">Features</h3>
    <ul class="list-group">
      <li class="list-group-item">###.</li>
      <li class="list-group-item">###.</li>
      <li class="list-group-item">###.</li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title text-center">How to Get Started</h3>
    <ol class="list-group">
      <li class="list-group-item">###. </li>
      <li class="list-group-item">###.</li>
      <li class="list-group-item">###.</li>
    </ol>
  </div>
</div>

<div class="col-md-12">
  <div class="card mb-4">
    <div class="card-body text-center">
      <h3 class="card-title">###.</h3>
      <p class="card-text">###.</p>
      <img src="https://i1.sndcdn.com/avatars-tzLAvMgFjm7uyg7B-ZO69Pg-t500x500.jpg" alt="Square Image" class="img-fluid rounded mx-auto d-block" style="max-width: 200px; max-height: 200px;">
    </div>
  </div>
</div>

{% endblock content %}