{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-lY4uNhMIgAMK6NH3F2ejd0zvKDxZl5N6EN1FtUyZvTzUK2FHaJh6FF1pTkx2MLVb" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/expanding_footer.css' %}">

<script src="https://kit.fontawesome.com/94f612e130.js" crossorigin="anonymous"></script>

<!---
<div class="footer-card mb-4 text-center" id="card2">
    <div class="container">
        <h1 class="text-center">Useful Links</h1>
        <div class="row">
            <div class="col-md">
                <h4 class="text-center">Section 1</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h4 class="text-center">Section 2</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h4 class="text-center">Section 3</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Link 5</a></li>
                    <li><a href="#">Link 6</a></li>
                </ul>
            </div>
            <div class="col-md">
                <h4 class="text-center">Section 4</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Link 7</a></li>
                    <li><a href="#">Link 8</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

-->

<div class="square-card mb-4">
    <div class="icon-container">
        <i class="far fa-star"></i>
    </div>
    <div class="footer-content">

            <div class="container">
                <h1 class="text-center">Useful Links</h1>
                <div class="row">
                    <div class="col-md">
                        <h4 class="text-center">Section 1</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <h4 class="text-center">Section 2</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <h4 class="text-center">Section 3</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 5</a></li>
                            <li><a href="#">Link 6</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <h4 class="text-center">Section 4</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 7</a></li>
                            <li><a href="#">Link 8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

    </div>
</div>
