{% extends 'core/base.html' %}

{% block content %}

<h1 class="mb-4 text-center custom-margin-top">Revision Time... 😎</h1>


<div class="card mb-4">

    <div class="card-body text-center">
    <h2>Here you can create, remove, use and edit revision cards/quizzes</h2>
    </div>

</div>

<div class="content-section">

    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">My Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">New Resource</a>
        </li>
    </ul>

    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            <h3>Resources</h3>
            <p>This is where your revision resources will be displayed.</p>
        </div>
        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
            <h3>New Resource</h3>
            <p>This is where your information will be displayed.</p>
        </div>
    </div>

</div>    


{% endblock content %}