.container {
  flex: 1;
}

.square-card {
  width: 75px;
  height: 75px;
  background-color: #181A1B;
  border: 1px solid #272827;
  border-radius: 0.25rem;
  color: #BDB7AF;
  display: flex;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
}

.icon-container {
  visibility: visible; 
  position: relative; 
  z-index: 2; 
}

.square-card:not(:hover) .icon-container {
  opacity: 1;
  transition: opacity 0.1s ease 0.1s;
}

.square-card:hover .icon-container {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.footer-content {
  background-color: #181A1B;
  color: #BDB7AF;
  text-align: center;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center;
  position: absolute; 
  width: 100%;
  z-index: 1;
}

.square-card:hover .footer-content {
  transform: scaleY(1);
  opacity: 1;
  transition: opacity 0.1s ease 0.2s, transform 0.1s ease 0.2s;
}

.square-card:not(:hover) .footer-content {
  transform: scaleY(0);
  opacity: 0;
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.square-card:hover {
  width: 552px;
  height: 183px;
  transition: width 0.2s ease, height 0.2s ease;
}

.square-card:not(:hover) {
  width: 75px;
  height: 75px;
  transition: width 0.2s ease 0.1s, height 0.2s ease 0.1s;
}

